* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d3d3d3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.karta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 260px;
  padding: 12px;
  border: 1px solid rgba(19, 7, 7, 0.658);
  border-radius: 16px;
  background-color: #777;
  margin-bottom: 60px;
}
.karta .karta-slika {
  position: relative;
  width: 100%;
  height: 180px;
  background-color: #777;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 14px;
}
.karta .karta-slika .najk {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}
.karta .karta-slika .srce:hover {
  background-color: rgba(255, 0, 0, 0.267);
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.527);
}
.karta .karta-slika .srce:active {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.527);
}

.karta .karta-slika .srce {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
  padding: 6px;
  border-radius: 16px;
  background-color: white;
  text-align: center;
  border: 0.5px solid rgba(0, 0, 0, 0.185);
  transition: all 0.3s;
}
.karta .karta-slika .tip {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 16px;
  background-color: #777;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.karta-info {
  font-family: "Segoe UI", sans-serif;
  margin-bottom: 12px;
}
.karta-info p:first-child {
  margin-bottom: 8px;
  font-size: 14px;
  color: white;
}
.karta-info p:last-child {
  font-size: 24px;
  color: white;
}
.karta-info h3 {
  margin-bottom: 8px;
  font-size: 28px;
  line-height: 1.2;
  color: #111111;
}
.karta .btn a:link,
.karta .btn a:visited {
  display: inline-block;
  width: 100%;
  padding: 8px 14px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  transition: all 0.3s;
}
.karta .btn a:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.527);
}
.karta .btn a:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.527);
}
